/* Base code : */

.sidebar-CFHs9e .side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:not(.role-3wi9Tf)::before,
.side-8zPYf6 .item-PXvHYJ:not(.role-3wi9Tf)::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: cover!important;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item, .side-8zPYf6 .item-PXvHYJ {padding-left: 40px;}

/* Discord's menu icon : */

#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(2)::before{background:var(--account) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(3)::before{background:var(--privacy) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(4)::before{background:var(--apps) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(5)::before{background:var(--connections) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(8)::before{background:var(--nitro) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(9)::before{background:var(--boost) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(10)::before{background:var(--gift) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(11)::before{background:var(--billing) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(14)::before{background:var(--voice) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(15)::before{background:var(--text) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(16)::before{background:var(--eye) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(17)::before{background:var(--notifications) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(18)::before{background:var(--keybinds) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(19)::before{background:var(--language) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(20)::before{background:var(--windows) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(21)::before{background:var(--twitch) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(24)::before{background:var(--games) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(25)::before{background:var(--overlay) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(27)::before{background:var(--changelog) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(28)::before{background:var(--hype) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(31)::before{background:var(--logout) center}

/* Bandaged BD's menu icon : */

.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(3)::before{background:var(--core) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(4)::before{background:var(--emote) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(5)::before{background:var(--plugins) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(6)::before{background:var(--theme) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(7)::before{background:var(--css) center}