/**
 * @name User's Settings Icon
 * @author SlγЗγєѕ#5557
 * @version 1.2
 * @description Add Icon in your user's settings - Based on the work of arudarin
 * @authorId 381131731996246017
*/

/* Base : */
@import url("https://slyeyes.github.io/user_setting_icon/base.css");

/* You can use your own icon. Just change the image link below. */

:root {

    /* Discord's menu icon : */

    --account:       url(https://arudarin.github.io/themes/icons/account.png);
    --privacy:       url(https://arudarin.github.io/themes/icons/privacy.png);
    --apps:          url(https://arudarin.github.io/themes/icons/apps.png);
    --connections:   url(https://arudarin.github.io/themes/icons/connections.png);
    --nitro:         url(https://arudarin.github.io/themes/icons/nitro.png);
    --boost:         url(https://arudarin.github.io/themes/icons/boost.png);
    --gift:          url(https://arudarin.github.io/themes/icons/gift.png);
    --billing:       url(https://arudarin.github.io/themes/icons/billing.png);
    --voice:         url(https://arudarin.github.io/themes/icons/voice.png);
    --text:          url(https://arudarin.github.io/themes/icons/text.png);
    --eye:           url(https://arudarin.github.io/themes/icons/eye.png);
    --notifications: url(https://arudarin.github.io/themes/icons/notifications.png);
    --keybinds:      url(https://arudarin.github.io/themes/icons/keybinds.png);
    --language:      url(https://arudarin.github.io/themes/icons/language.png);
    --windows:       url(https://arudarin.github.io/themes/icons/windows.png);
    --twitch:        url(https://arudarin.github.io/themes/icons/twitch.png);
    --games:         url(https://arudarin.github.io/themes/icons/games.png);
    --overlay:       url(https://arudarin.github.io/themes/icons/overlay.png);
    --changelog:     url(https://arudarin.github.io/themes/icons/changelog.png);
    --hype:          url(https://arudarin.github.io/themes/icons/hype.png);
    --logout:        url(https://arudarin.github.io/themes/icons/logout.png);

    /* Bandaged BD's menu icon : */

    --core:          url(https://arudarin.github.io/themes/icons/core.png);
    --emote:         url(https://arudarin.github.io/themes/icons/emote.png);
    --plugins:       url(https://arudarin.github.io/themes/icons/plugins.png);
    --theme:         url(https://arudarin.github.io/themes/icons/theme.png);
    --css:           url(https://arudarin.github.io/themes/icons/css.png);
}

/* 
More icon :
https://arudarin.github.io/themes/icons/gamepad.png
https://arudarin.github.io/themes/icons/experiments.png
https://arudarin.github.io/themes/icons/dev_options.png
https://arudarin.github.io/themes/icons/bandages.png 
https://arudarin.github.io/themes/icons/activity_feed.png

Check his work : https://github.com/Arudarin
*/