@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

$primary-font: 'Cabin', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$primary-color: #c0376d;
$secondary-color: #2f1f39;
$font-color: white;

$light-color: #ffe03d;
$no-light-color: #ffffbb;

@keyframes title-light {
    0% {
        color: $font-color;
    }
    50% {
        color: $light-color;
    }
    100% {
        color: $font-color;
    }
}

@keyframes bubble-light {
    0% {
        background-color: $no-light-color;
    }
    50% {
        background-color: $light-color;
    }
    100% {
        background-color: $no-light-color;
    }
}

@mixin bubble($delay, $top, $left) {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $no-light-color;
    margin: 10px;
    animation-name: bubble-light;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    animation-delay: $delay;
    position: absolute;
    top: $top;
    left: $left;
}

@mixin big-inner-bubble($delay) {
    display: inline-block;
    position: relative;
    top: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $no-light-color;
    margin: 10px;
    animation-name: bubble-light;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    animation-delay: $delay;
}

body {
    font-family: $primary-font;
    background-color: $primary-color;
    color: $font-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $secondary-font;
    }

    a {
        text-decoration: none;
        color: $font-color;

        &:hover {
            color: $light-color;
        }
    }

    header {
        text-align: right;

        nav {
            margin: 20px 10px;

            ul li {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }

    main {
        text-align: center;
        margin: auto;

        h1{
            font-size: 3em;
            animation-name: title-light;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

        #bubble-0 {
            @include bubble(1.5s, 10%, 20%);
        }

        #bubble-1 {
            @include bubble(2.5s, 35%, 70%);
        }

        #bubble-2 {
            @include bubble(3.5s, 50%, 35%);
        }

        #big-inner-bubble-0 {
            @include big-inner-bubble(1s);
        }

        #big-inner-bubble-1 {
            @include big-inner-bubble(2s);
        }

        #big-inner-bubble-2 {
            @include big-inner-bubble(3s);
        }

        .inner-bubble {
            display: inline-block;
            position: relative;
            top: -60px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $light-color;
            margin: 10px;
        }
    }

    footer {
        background-color: $secondary-color;
        text-align: center;
        margin: auto 0 0 0;
    }
}


